# Summer Analytics 2020 - Basic Data Analysis

- ####  Welcome to your first assignment, on basic data analysis!
- #### This Assignment is ungraded



### 1) Import Pandas

In [0]:
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

#### Import the dataset from this url (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [15]:
import pandas as pd
users=pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep='|')
users.set_index("user_id",inplace=True)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### 3) Display the first 25 entries

In [16]:
print(users.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### 4) Display the last 10 entries

In [17]:
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### 5) What is the number of observations in the dataset?

In [18]:
print(users.shape)

(943, 4)

### 6) What is the number of columns in the dataset, also print the name of all the columns?

In [19]:
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### 7) What is the data type of each column?

In [20]:
print(users.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### 8) Print only the occupation column

In [21]:
print(users.occupation)

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### 9) How many different occupations are in this dataset?

In [25]:
ans=users.describe(include=object)
print(ans.loc['unique','occupation'])

21

### 10) What is the most frequent occupation?

In [27]:
ans=users.describe(include=object)
print(ans.loc['top','occupation'])

student

### 11) Summarize the DataFrame.

In [28]:
print(users.describe(include='all'))

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### 12) Summarize only the occupation column

In [30]:
des=users.describe(include='all')
print(des.occupation)

count         943
unique         21
top       student
freq          196
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN
Name: occupation, dtype: object

### 13) What is the mean age of users?

In [31]:
print(des.loc['mean','age'])

34.05196182396607

### 14) What is the age with least occurrence?

In [6]:
import pandas as pd
users=pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep='|')
users.set_index("user_id",inplace=True)
users['age'].value_counts().index[users.age.value_counts()==users.age.value_counts().min()]

Int64Index([11, 10, 73, 66, 7], dtype='int64')